pandas==0.20.3
Numpy==1.12.1
facebook_business==3.1.2
googleads==14.0.0
win_inet_pton==1.0.1
oauth2==1.9.0.post1
psycopg2==2.6.2
pyyaml==3.12
sqlalchemy==1.0.13
boto==2.42.0
requests==2.18.4
requests_oauthlib==0.8.0
pytz==2017.2